/__pycache__/*.pyc
transformslib/events/__pycache__/*.pyc
transformslib/tables/__pycache__/*.pyc
transformslib/tables/collections/__pycache__/*.pyc
transformslib/templates/__pycache__/*.pyc
transformslib/transforms/__pycache__/*.pyc
template_load_pipe.ipynb
docs/__pycache__/*.pyc
docs/source/index.rst
transformslib/tables/names/__pycache__/*.pyc
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
test_tables/output/*
dist/*
build/*
transformslib.egg-info/*
transformslib/__pycache__/*
transformslib/mapping/__pycache__/*
