/__pycache__/*.pyc
transformslib/events/__pycache__/*.pyc
transformslib/tables/__pycache__/*.pyc
transformslib/tables/collections/__pycache__/*.pyc
transformslib/templates/__pycache__/*.pyc
transformslib/transforms/__pycache__/*.pyc
template_load_pipe.ipynb
docs/__pycache__/*.pyc
docs/source/index.rst
transformslib/tables/names/__pycache__/*.pyc
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
test_tables/output/*
dist/*
build/*
transformslib.egg-info/*
transformslib/__pycache__/*
transformslib/mapping/__pycache__/*
transformslib/mapping/webcanvas/__pycache__/tailwindcss.cpython-310.pyc
templates/transform_dags/*
docs/source/events.rst
docs/source/mapping.rst
docs/source/tables.rst
docs/source/transforms.rst
docs/source/transformslib_root.rst
templates/events_log/job_1/table_specific/*_events.json
templates/events_log/job_1/treatments.json
test_tables/prod/job_1/output/*
transformslib/dag/__pycache__/*
test_tables/jobs/prod/job_1/output/*
templates/jobs/prod/job_1/*.parquet/
transformslib/engine/__pycache__/*
docs/source/templates.rst
docs/source/dag.rst
tests/scripts/test_tables/unit_test_subpackage/this_is_a_test.txt
