name: Lint Check

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'archive/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'archive/**'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: cclauss/Find-Python-syntax-errors-action@master
