name: Package

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install -r requirements.txt
      - name: Build package
        shell: bash
        run: python build.py
      - name: Upload documentation (docs/build) as zip
        uses: actions/upload-artifact@v4
        with:
          name: docs-build-zip
          path: docs/build
          if-no-files-found: warn
          retention-days: 7
      - name: Upload dist/*.tar.gz as artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-tarballs
          path: dist/*.tar.gz
          if-no-files-found: warn
          retention-days: 7
