name: Unit Tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Hadoop for Windows
        run: |
          mkdir C:\hadoop\bin
          curl -L https://github.com/cdarlint/winutils/raw/master/hadoop-3.3.5/bin/winutils.exe -o C:\hadoop\bin\winutils.exe
          curl -L https://github.com/cdarlint/winutils/raw/master/hadoop-3.3.5/bin/hadoop.dll -o C:\hadoop\bin\hadoop.dll
          echo "HADOOP_HOME=C:\hadoop" >> $env:GITHUB_ENV
          echo "C:\hadoop\bin" >> $env:GITHUB_PATH
          # Grant full permissions to avoid permission errors
          icacls C:\hadoop\bin\winutils.exe /grant Everyone:F
          icacls C:\hadoop\bin\hadoop.dll /grant Everyone:F
        shell: pwsh
      - name: Install custom packages
        run: |
          python -m pip install --upgrade pip
          pip install -r custom_packages.txt
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Set Spark environment variables
        run: |
          echo "SPARK_LOCAL_IP=127.0.0.1" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Run unit tests
        shell: cmd
        run: |
          run_unit_test.bat
      - name: Upload test results as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: tests/test_log.txt
          if-no-files-found: warn
          retention-days: 14
      - name: Upload DAG report as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dag-report
          path: templates/transform_dag_job_run1.html
          if-no-files-found: warn
          retention-days: 14
