name: Unit Tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install custom packages
        run: |
          python -m pip install --upgrade pip
          pip install -r custom_packages.txt
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Run unit tests
        shell: cmd
        run: |
          run_unit_test.bat
      - name: Upload test results as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: tests/test_log.txt
          if-no-files-found: warn
          retention-days: 14
      - name: Upload DAG report as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dag-report
          path: templates/transform_dag_job_run1.html
          if-no-files-found: warn
          retention-days: 14
